// Misc.
$misc: (
);

// Duration.
$duration: (
    transition:			0.2s
);

// Size.
$size: (
    border-radius:		6px,
    border-width:		1px,
    element-height:		2.75em,
    element-margin:		2em
);

// Font.
$font: (
    family:				(Arial, Helvetica, sans-serif),
    family-fixed:		('Courier New', monospace),
    weight:				normal,
    weight-bold:		bold
);

// Palette.
{% set palette = site.params.palettes[site.params.palette].sass %}
$palette: (
    bg:					#ffffff,
    fg:					#999999,
    fg-bold:			#828282,
    fg-light:			#e0e0e0,
    border:				#e6e6e6,
    border-bg:			rgba(144,144,144,0.075),
    border2:			#d6d6d6,
    border2-bg:			rgba(144,144,144,0.15),

    accent1: (
        bg:				{{ palette.color }},
        fg:				mix({{ palette.color }}, #ffffff, 25%),
        fg-bold:		#ffffff,
        fg-light:		mix({{ palette.color }}, #ffffff, 40%),
        border:			rgba(255,255,255,0.25),
        border-bg:		rgba(255,255,255,0.075),
        border2:		rgba(255,255,255,0.5),
        border2-bg:		rgba(255,255,255,0.2),
        invert:			true
    ),

    accent2: (
        bg:				#fbfbfb,
        fg:				#999999,
        fg-bold:		#828282,
        fg-light:		#e0e0e0,
        border:			#e6e6e6,
        border-bg:		rgba(144,144,144,0.075),
        border2:		#d6d6d6,
        border2-bg:		rgba(144,144,144,0.15),
        invert:			false
    ),

    accent3: (
        bg:				#f7f7f7,
        fg:				#999999,
        fg-bold:		#828282,
        fg-light:		#b0b0b0,
        border:			#d6d6d6,
        border-bg:		rgba(144,144,144,0.075),
        border2:		#c6c6c6,
        border2-bg:		rgba(144,144,144,0.15),
        invert:			false
    )
);
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';

/*
	Fractal by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Mixins.

	@mixin color($p: null) {
		@include color-button($p);
		@include color-form($p);
		@include color-icon($p);
		@include color-image($p);
		@include color-list($p);
		@include color-table($p);
		@include color-typography($p);
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/section';
	@import 'components/spotlight';
	@import 'components/table';
	@import 'components/wrapper';

// Layout.

	@import 'layout/header';
	@import 'layout/main';
	@import 'layout/footer';

// Stackbit Banner
    @import 'imports/banner';